<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h2>CRUD Operation using Postgres SQL</h2>

    <div class="container">
      <h3>Available option</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/insert">Insert</a></li>
        <li><a href="/displayAll">Display All</a></li>
      </ul>
    </div>

  </body>
</html>
